<h3>Detalles de peliculas</h3>
<div>
    <div>
        <label><b>ID: </b>{{ peliculas.id_pelicula }}</label>
    </div>
    <div>
        <label><b>Titulo: </b>{{ peliculas.titulo }}</label>
    </div>
    <div>
        <label><b>Descripcion: </b>{{ peliculas.descripcion }}</label>
    </div>
    <div>
        <label><b>Imagen: </b><img [src]=" peliculas.imagen " [width]="30" [height]="30"/></label>
    </div>
    <div>
        <label><b>Stock: </b>{{ peliculas.stock }}</label>
    </div>
    <div>
        <label><b>Tiempo: </b>{{ peliculas.tiempo }}</label>
    </div>
    <div>
        <label><b>Precio Arquiler: </b>{{ peliculas.precio_alquiler }}</label>
    </div>
    <div>
        <label><b>Precio Venta: </b>{{ peliculas.precio_venta }}</label>
    </div>
    <div>
        <label><b>Disponibilidad: </b>{{ peliculas.disponibilidad }}</label>
    </div>
</div>
